body {
  width: 100%;
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

footer {
  min-height: 3em;
  width: 100%;
  background-color: #424242;
  color: #FFF;
  padding-top: 1em;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 2.5em;
  margin-left: 0;
  margin-right: 0;
  z-index: 1000;
  background-color: #424242;
}

#navbarNav {
  min-height: 2.2em;
}

/* NavBar links */
.linkbtn {
  display: inline-block;
  padding: 0.25em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  border-radius: 2px;
}

.linkbtn:link,
.linkbtn:hover,
.linkbtn:visited,
.linkbtn:active {
  text-decoration: none;
  transition-duration: 0.2s;
}

.linkbtn:hover {
  border-bottom: solid 0.2em #ddd;
  color: #ddd;

  transition-duration: 0.2s;
}
