p {
  color: #373a3c;
}

#porto {
  display: hidden;
  position: relative;
  top: -40px;
}

#portrait {
  margin-left: 4em;
}

#contact {
  width: 100%;
  background-color: #37474f;
  padding: 2em;
}

.sep {
  width: 100%;
  height: 7.5em;
  background-color: #37474f;
}

.content-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.one {
  padding-top: 10%;
  min-height: 800px;
  background-image: url('../img/sky.jpg');
  background-position: 50% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 1.5em;
}

.one h1 {
  font-size: 2em;
}

.one h1 small {
  color: #EEE;
  font-size: 0.5em;
}

.wide-text-container {
  margin-top: 2em;
  margin-bottom: 3em;
  background-color: #fff;
}

.wide-text-container > .row {
  padding-top: 2em;
}

.wide-text {
  font-size: 1.5em;
}

.row .card {
  margin-bottom: 1em;
}
.project {
  min-width: 10em;
  max-width: 300px;
}
.project .card-block {
  min-height: 12em;
}
.project .btn {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}

.social-links {
  min-height: 2.5em;
  font-size: 2.5em;

}
.social-links a:link,
.social-links a:visited {
  color: #0068B2;
  transition-duration: 0.5s;
}
.social-links a:hover {
  font-size: 1.25em;
  transition-duration: 0.5s;
}
.link-github a:hover {
  color: #424242;
}
.link-fcc a:hover {
  color: darkgreen;
}
.link-twitter a:hover {
  color: #1da1f2;
}

@media only screen and (max-width : 576px) {
  #portrait {
    margin-left: 0; !important
  }
  .one {
    padding-top: 20%;
  }
  .wide-text {
    font-size: 1.2em;
  }
}
