body {
  background-color: #212121;
  transition: all 3s linear;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: rgba(66, 66, 66, 0.6);
}

.content {
  position: absolute;
  top: 25%;
  left: 35%;
  height: 30%;
  width: 30%;
  text-align: center;
  color: #FFF;
}

.info {
  display: none;
}

#cond {
  font-size: 2em;
}
#temp {
  font-size: 6em;
}
#unit {
  font-size: 4em;
  color: #DDD;
}
#city {
  margin-top: 0.5em;
  font-size: 1.5em;
  font-style: italic;
  color: #bdbdbd;
}
